/* Profile Image */
.Photo {
  background-image: url("https://i.postimg.cc/GhNScYts/profilepic1.jpg");
}
/* Projects Photos */
.project1 {
  background-image: url("https://i.postimg.cc/3wbPD6Jn/Group-Project1-Screenshot.png");
  cursor: none;
}
.project2 {
  background-image: url("https://i.postimg.cc/R0XX3nGm/Screenshot-189.png");
  cursor: none;
}
.project3 {
  background-image: url("https://i.postimg.cc/vTBWpqdx/Screenshot-191.png");
  cursor: none;
}
.project4 {
  background-image: url("https://i.postimg.cc/P5MhVTdx/PBT.png");
  cursor: none;
}
.project5 {
  background-image: url("https://i.postimg.cc/MZsQNJK9/My-Total-Health.png");
  cursor: none;
}
.project6 {
  background-image: url("https://i.postimg.cc/26F8TJGN/Redux-Store.png");
  cursor: none;
}
/* Misc Activities photo */
.misc1 {
  background-image: url("https://i.postimg.cc/7hp6N5SL/lf.jpg");
  cursor: none;
}
.misc2 {
  background-image: url("https://i.postimg.cc/Xv7CqyLM/parenting.jpg");
  cursor: none;
}
.misc3 {
  background-image: url("https://i.postimg.cc/vHBkrPmD/IMG-9933.jpg");
  cursor: none;
}
